*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    text-transform: capitalize;
    padding: 40px;
    color: brown;
    text-shadow: 2px 3px 2px gray;
}
.container{
    width: 80%;
    height: 400px;
    /* border: 1px solid; */
    margin: auto;
}
.row{
    width: 70%;
    height: 350px;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    /* padding: ; */
}
.col-lg-4{
    width: 40%;
    height: 100px;
    /* border: 1px solid red; */
}
label{
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 10px;
}
input{
    width: 80%;
    height: 30px;
    margin:3px 33px;
    border-radius:5px ;
    border: 2px solid brown;
}
button{
    padding: 10px 20px;
    margin-left: 20%;
    background-color: brown;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 3px 4px 2px gainsboro;
}
span{
    margin: 4px 36px;
    font-weight: bold;
}